.blog-item {
    height: 450px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    .bi-text {
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        .b-tag {
            display: inline-block;
            color: #ffffff;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: #dfa974;
            padding: 3px 10px;
            border-radius: 2px;
        }
        h4 {
            margin-top: 18px;
            margin-bottom: 18px;
            a {
                color: #ffffff;
            }
        }
        .b-time {
            font-size: 12px;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}
.blog-item.small-size {
    height: 400px;
}
