@import "./../../../../../../commons/variable.scss";

.thumnail-home_item {
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    height: 100%;
    color: $color-white;
    &__cover {
        position: relative;
        width: 100%;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 5px;
        &::before {
            content: "";
            display: block;
            padding-top: 125%;
        }
        img {
            transition: all 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        bottom: 10%;
        left: 1.5rem;
        position: absolute !important;
    }
    &__title {
        margin-top: 0.75rem;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }
    &__price {
        margin-top: 0.2rem;
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
    }
}
