.section-today {
    margin: 0px auto;
    margin-top: 50px;
    font-family: "Cabin", sans-serif !important;
    .title-wrapper {
        margin: 0 0px;
    }
    .row {
        display: flex;
        justify-content: center;
        .item {
            padding: 10px;
        }
    }
}
