.section-today {
    margin: 0px auto;
    margin-top: 50px;
    font-family: "Cabin", sans-serif !important;
    .title-wrapper {
        margin: 0 0px;
    }
    .row {
        display: flex;
        justify-content: center;
        .item {
            margin: 10px 0;
            transition: all 0.3s;
            &:hover {
                cursor: pointer;
                transition: all 0.3s;
                img {
                    transition: all 0.3s;
                    transform: scale(1.1);
                }
            }
        }
    }
}
