.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    transform: scale(0.6);
    margin: -40%;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    float: right;
    &.is-active {
      transition-duration: 1s;
      background-position: -2800px 0;
    }
}
  
