@import "./../../../../commons/variable.scss";

.success {
    margin: 10rem 0;
    h4 {
        margin-top: 20px;
        font-size: 2rem;
    }
    h5 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .bk-btn {
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        padding: 10px 20px 10px;
        background: #dfa974;
        color: #ffffff!important;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
