@import "./../../../../commons/variable.scss";

.success {
    margin: 10rem 0;
    h4 {
        margin-top: 20px;
        font-size: 2rem;
    }
    h5 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}
