.breadcrumb-section {
    padding-top: 70px;
    padding-bottom: 80px;
}
.breadcrumb-text {
    text-align: center;
    h2 {
        font-size: 44px;
        color: #19191a;
        margin-bottom: 12px;
    }
    .bt-option {
        a {
            display: inline-block;
            font-size: 18px;
            color: #19191a;
            margin-right: 20px;
            position: relative;
            font-weight: 500;
            &:after {
                position: absolute;
                right: -13px;
                top: 1px;
                content: "";
                font-size: 18px;
                font-family: "FontAwesome";
                color: #aaaab3;
            }
        }
        span {
            display: inline-block;
            font-size: 18px;
            color: #aaaab3;
        }
    }
}
