@import "./../../commons/variable.scss";

.payment-wrapper {
    margin: 20px auto;

    [data-theme="compact"] .site-navigation-steps,
    .site-navigation-steps {
        margin-bottom: 50px;
        box-shadow: 0px -1px 0 0 #e8e8e8 inset;
    }
    [data-theme="dark"] .site-navigation-steps {
        border-bottom: 1px solid hsl(0, 0%, 19%);
        margin-bottom: 60px;
        box-shadow: none;
        background-color: red;
    }
    .anticon {
        vertical-align: 0.12em !important;
    }
    .ant-steps-icon {
        color: $color-brown !important;
    }
    .ant-steps-item-icon {
        border-color: $color-brown !important;
    }
    .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: $color-brown !important;
    }
    .ant-steps-navigation .ant-steps-item::before {
        background-color: $color-brown !important;
    }
    .ant-steps
        .ant-steps-item:not(.ant-steps-item-active)
        > .ant-steps-item-container[role="button"]:hover
        .ant-steps-item-title,
    .ant-steps
        .ant-steps-item:not(.ant-steps-item-active)
        > .ant-steps-item-container[role="button"]:hover
        .ant-steps-item-subtitle,
    .ant-steps
        .ant-steps-item:not(.ant-steps-item-active)
        > .ant-steps-item-container[role="button"]:hover
        .ant-steps-item-description {
        color: $color-brown !important;
    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
        color: #fff !important;
    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
        background: $color-brown !important;
    }
}
