.rooms-section {
    padding-top: 0;
    padding-bottom: 80px;
}

.room-pagination {
    text-align: center;
    padding-top: 20px;
    a {
        font-size: 16px;
        color: #707079;
        border: 1px solid #efd4b9;
        border-radius: 2px;
        padding: 7px 13px 5px;
        margin-right: 7px;
        display: inline-block;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background: #dfa974;
            color: #ffffff;
        }
    }
}
