@import "./../../../../commons/variable.scss";

.method-payment-wrapper {
    @media only screen and (min-width: 992px) {
        .content {
            margin: 3rem 15rem;
        }
    }
    .content {
        .method-payment {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            img {
                position: relative;
                transition: all 0.3s;
                margin: 10px;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}
