.carousel-login-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    .carousel-login {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .owl-stage-outer {
            height: 100%;
        }
        .owl-stage {
            height: 100%;
        }
        .owl-item {
            height: 100%;
        }
        .hs-item {
            height: 100%;
        }
    }
    .carousel-login.owl-carousel {
        .owl-dots {
            position: absolute;
            left: 0;
            bottom: 23px;
            width: 100%;
            text-align: center;
            button {
                height: 6px;
                width: 6px;
                background: #ffffff;
                opacity: 0.5;
                border-radius: 50%;
                margin-right: 10px;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                &:last-child {
                    margin-right: 0;
                }
            }
            button.active {
                width: 30px;
                border-radius: 50px;
                opacity: 1;
            }
        }
    }
}
