.spacial-controls {
    position: fixed;
    width: 111px;
    height: 91px;
    top: 0;
    right: 0;
    z-index: 999;
    .search-switch {
        display: block;
        height: 100%;
        padding-top: 30px;
        background: #323232;
        text-align: center;
        cursor: pointer;
    }
}
.search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999;
}
.search-model-form {
    padding: 0 15px;
    input {
        width: 500px;
        font-size: 40px;
        border: none;
        border-bottom: 2px solid #333;
        background: none;
        color: #999;
    }
}
.search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
