@import "./../../commons/variable.scss";

.thumnail-today {
    width: 270px;
    cursor: pointer;
    .img-wrapper {
        transition: all 0.3s;
        overflow: hidden;
        border-radius: 5px;
        img {
            transform: scale(1);
        }
        &:hover {
            cursor: pointer;
            transition: all 0.3s;
            img {
                transition: all 0.3s;
                transform: scale(1.1);
            }
        }
    }
    .content-wrapper {
        position: relative;
        .content {
            .content-type {
                color: $color-gray;
                font-size: 14px;
            }
            .content-name {
                .name {
                    color: $color-black;
                    font-weight: 400;
                    font-size: 18px;
                }
                .price {
                    color: $color-black;
                    font-weight: 700;
                    font-size: 15px;
                }
            }
        }
        .listing-controls {
            text-align: right;
            .un-favorite {
                margin-right: 5px;
            }
            .favorite {
                margin-right: 5px;
                i {
                    color: #ff0f59;
                }
            }
        }
    }
}
